<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Project2/public/css/styles.css" type="text/css" />
    <title>Community Playlist</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- Javascript link - determine whether to linnk all in main or to link individual js files to individual handlebars files --}}
</head>

<body>
    {{{ body }}}
</body>

</html>