<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="UTF-8">
    <title>Community Playlist</title>
    <!-- style sheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <!-- font awesome for icons -->
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>    <!-- links to our script files -->

    <!-- links to our script files -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {{!-- <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="addSong.js"></script>
    <script src="browse.js"></script>
    <script src="playlist.js"></script>


    <script src="https://use.fontawesome.com/d4bc8ac285.js"></script>
    <!-- google fonts - Mukta Font Fam -->
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">

</head>

<body>
    {{{ body }}}
</body>

</html>